@import "variables";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Roboto+Mono&display=swap');

body {
  width: 1170px;
  margin: 0 auto;
}

#root {
  background-color: $color1;
  //height: 840px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-family: Roboto Mono, sans-serif;
  font-size: 40px;
  //line-height: 2;
}

h2 {
  font-family: Roboto Mono, sans-serif;
  font-size: 26px;
  color: $color3;
  margin-bottom: 30px;
}

h3 {
  font-family: Roboto Mono, sans-serif;
  //font-size: 16px;
  color: $color2;
  margin-bottom: 15px;
}

h4 {
  font-family: Roboto Mono, sans-serif;
  //font-size: 16px;
  color: $color2;
  margin-bottom: 15px;
  display: inline;
}

p {
  font-family: IBM Plex Sans, sans-serif;
  font-size: small;
  color: $color4;
}

input, label {
  display: block;
  font-family: IBM Plex Sans, sans-serif;
  font-size: small;
  color: $color4;
  margin: 5px 0;
}

.checkbox {
  display: inline;
  margin-right: 3px;
}

.signup {
  margin-bottom: 30px;
}