// Color palette from https://www.behance.net/gallery/72261731/Scandinavian-Clinic-Web-Design
$color1: rgb(211, 222, 227);
$color2: rgb(71, 131, 153);
$color3: rgb(53, 65, 77);
$color4: rgb(135, 135, 135);